body {
    font-family: Arial, sans-serif;
    margin-left: 200px;
    /*height: 100vh;*/
    background-color: PapayaWhip;
}
.container {
    display: flex;
    /*align-items: center;*/
    width: 400px;
    flex-direction: row;
    justify-content: space-between;
}
.left-side {
    flex: 1;
    padding: 20px;
}
.right-side {
    flex: 1;
    padding: 20px;
    margin-left: 30px;
}

textarea {
    width: 500px;
    height: 700px;
    padding: 20px;
    background-color: MintCream;
}

#message {
    height: 100px;
    width: 400px;
    background-color: #FFFFFF;
}

button {
    background-color: #4CAF50; /* Цвет фона */
    color: white; /* Цвет текста */
    padding: 14px 20px; /* Внутренний отступ */
    margin: 8px 0; /* Внешний отступ */
    border: none; /* Убираем границу */
    border-radius: 4px; /* Закругляем углы */
    cursor: pointer; /* Изменяем курсор при наведении */
    width: 100%; /* Ширина кнопки на всю доступную ширину */
}
button:hover {
    background-color: #45a049;
}

input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}
h1 {
    margin-left: 100px;
    margin-top: 30px;
}